button {
  background-color: white; 
  border: 0.1px solid rgb(224, 224, 224);
  color: rgb(43, 156, 248);
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  }

.add-products button {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 15px;
  background-color: rgb(252, 158, 90);
  color: white;
  }

.add-products button:hover{
  background-color: #d46e0e;
  color: white;
  }

button:hover {
  background-color: rgb(43, 156, 248);
  color: white;
  }

.container {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  }

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  border: none;
  border-collapse: collapse;
  }

th {
  height: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

td {
  padding: 12px;
  border-bottom: 0.2px solid rgb(184, 184, 184);
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

tr td:nth-child(2){
  color: rgb(43, 156, 248);
}
    